body{
  font-family: Arial;
  margin:0;
  background:#e8f5e9;
}

header{
  background:green;
  color:white;
  padding:18px;
  text-align:center;
}

.menu{
  padding:20px;
}

button{
  width:100%;
  padding:18px;
  margin:10px 0;
  font-size:18px;
  border:none;
  background:orange;
  color:white;
  border-radius:10px;
}

/* Desktop view */
@media(min-width:700px){
  .menu{
    width:400px;
    margin:auto;
  }
}


/* Bottom Navigation Bar */
.bottom-nav{
  position:fixed;
  bottom:0;
  width:100%;
  background:green;
  display:flex;
  justify-content:space-around;
  padding:10px 0;
}

.bottom-nav button{
  background:none;
  border:none;
  color:white;
  font-size:16px;
}
